.heading_title{
	color: grey;
	text-align: center;
}
.footer_text{
	text-align: right;
	color: grey;
	font-size: 16px !important;
}
.container{
	padding-top: 20px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /*font-size: 18px !important;*/
    /*overflow: wrap;*/
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
}