/*

 *  Remodal - v1.0.6

 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.

 *  http://vodkabears.github.io/remodal/

 *

 *  Made by Ilya Makarov

 *  Under MIT License

 */



/* ==========================================================================

   Remodal's necessary styles

   ========================================================================== */



/* Hide scroll bar */



html.remodal-is-locked {

  overflow: hidden;



  -ms-touch-action: none;

  touch-action: none;

}



/* Anti FOUC */



.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================

   Remodal's default mobile first theme

   ========================================================================== */


/* Default theme styles for the background */


.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}
.remodal-overlay.remodal-is-opening,

.remodal-overlay.remodal-is-closing {

  -webkit-animation-duration: 0.3s;

  animation-duration: 0.3s;

  -webkit-animation-fill-mode: forwards;

  animation-fill-mode: forwards;

}

.remodal-overlay.remodal-is-opening {

  -webkit-animation-name: remodal-overlay-opening-keyframes;

  animation-name: remodal-overlay-opening-keyframes;

}

.remodal-overlay.remodal-is-closing {

  -webkit-animation-name: remodal-overlay-closing-keyframes;

  animation-name: remodal-overlay-closing-keyframes;

}


/* Default theme styles of the wrapper */

.remodal-wrapper {

  padding: 10px 10px 0;

}

/* Default theme styles of the modal dialog */

.remodal {

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  width: 100%;

  margin-bottom: 10px;

  padding: 35px;

  -webkit-transform: translate3d(0, 0, 0);

  transform: translate3d(0, 0, 0);

  color: #2b2e38;

  background: #fff;

}

.remodal.remodal-is-opening,

.remodal.remodal-is-closing {

  -webkit-animation-duration: 0.3s;

  animation-duration: 0.3s;

  -webkit-animation-fill-mode: forwards;

  animation-fill-mode: forwards;

}

.remodal.remodal-is-opening {

  -webkit-animation-name: remodal-opening-keyframes;

  animation-name: remodal-opening-keyframes;

}

.remodal.remodal-is-closing {

  -webkit-animation-name: remodal-closing-keyframes;

  animation-name: remodal-closing-keyframes;

}


/* Vertical align of the modal dialog */

.remodal,

.remodal-wrapper:after {

  vertical-align: middle;

}


/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}


.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}
.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}


/* Dialog buttons */


.remodal-confirm,

.remodal-cancel {

  font: inherit;

  display: inline-block;

  overflow: visible;

  min-width: 110px;

  margin: 0;

  padding: 12px 0;

  cursor: pointer;

  -webkit-transition: background 0.2s;

  transition: background 0.2s;

  text-align: center;

  vertical-align: middle;

  text-decoration: none;

  border: 0;

  outline: 0;

}


.remodal-confirm {

  color: #fff;

  background: #81c784;

}

.remodal-confirm:hover,

.remodal-confirm:focus {

  background: #66bb6a;

}

.remodal-cancel {

  color: #fff;

  background: #e57373;

}

.remodal-cancel:hover,

.remodal-cancel:focus {

  background: #ef5350;

}

/* Remove inner padding and border in Firefox 4+ for the button tag. */


.remodal-confirm::-moz-focus-inner,

.remodal-cancel::-moz-focus-inner,

.remodal-close::-moz-focus-inner {

  padding: 0;

  border: 0;

}



/* Keyframes

   ========================================================================== */


@-webkit-keyframes remodal-opening-keyframes {

  from {

    -webkit-transform: scale(1.05);

    transform: scale(1.05);

    opacity: 0;

  }

  to {

    -webkit-transform: none;

    transform: none;

    opacity: 1;

  }

}



@keyframes remodal-opening-keyframes {

  from {

    -webkit-transform: scale(1.05);

    transform: scale(1.05);

    opacity: 0;

  }

  to {

    -webkit-transform: none;

    transform: none;

    opacity: 1;

  }

}



@-webkit-keyframes remodal-closing-keyframes {

  from {

    -webkit-transform: scale(1);

    transform: scale(1);

    opacity: 1;

  }

  to {

    -webkit-transform: scale(0.95);

    transform: scale(0.95);

    opacity: 0;

  }

}



@keyframes remodal-closing-keyframes {

  from {

    -webkit-transform: scale(1);

    transform: scale(1);

    opacity: 1;

  }

  to {

    -webkit-transform: scale(0.95);

    transform: scale(0.95);

    opacity: 0;

  }

}



@-webkit-keyframes remodal-overlay-opening-keyframes {

  from {

    opacity: 0;

  }

  to {

    opacity: 1;

  }

}



@keyframes remodal-overlay-opening-keyframes {

  from {

    opacity: 0;

  }

  to {

    opacity: 1;

  }

}



@-webkit-keyframes remodal-overlay-closing-keyframes {

  from {

    opacity: 1;

  }

  to {

    opacity: 0;

  }

}



@keyframes remodal-overlay-closing-keyframes {

  from {

    opacity: 1;

  }

  to {

    opacity: 0;

  }

}

/* Media queries

   ========================================================================== */



@media only screen and (min-width: 641px) {

  .remodal {

    max-width: 700px;

  }

}

/* IE8

   ========================================================================== */



.lt-ie9 .remodal-overlay {

  background: #2b2e38;

}



.lt-ie9 .remodal {

  width: 700px;

}



/* Custom CSS */
.remodal {
  color: #312f38;
}
.remodal {
  outline: medium none;
  position: relative;
}
.remodal-is-initialized {
  display: inline-block;
}
.remodal {
  background: #ffffff none repeat scroll 0 0;
  box-sizing: border-box;
  color: #312f38;
  margin-bottom: 0.75em;
  padding: 35px;
  transform: translate3d(0px, 0px, 0px);
  width: 100%;
}
.preview.remodal {
  height: 100%;
  max-height: 90%;
  max-width: 95%;
  width: 100%;
  padding: 0;
}
.remodal, .remodal-wrapper::after {
  vertical-align: middle;
}
.remodal-wrapper {
  text-align: center;
}
#demowrap {
  background: #d5e1e8 none repeat scroll 0 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
.remodal-is-initialized.remodal-is-opened .cd-modal-content .top-bar {
  display: block;
}
.top-bar {
  background: #312f38 none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  display: none;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.backtheme {
  cursor: pointer;
  left: 1em;
  position: absolute;
  top: 1em;
}
.top-bar .devicebtnwrap {
  left: 50%;
  margin-left: -100px;
  margin-right: 0;
  position: fixed;
  top: 0.25em;
  width: 250px;
}
.top-bar .icon.current, .top-bar .icon:hover {
  background-color: #076dc1;
}
.top-bar .icon {
  cursor: pointer;
  float: left;
  padding: 5px;
  text-align: center;
  width: 25%;
}
.animate, .top-bar .icon {
  transition: all 0.3s ease-in-out 0s;
}
.top-bar .icon:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.device.mobile {
  background-image: url("../img/mobile.png");
  background-size: 100% 100%;
  border-radius: 0.95em;
  border-width: 1px;
  height: 530px;
  width: 300px;
}
.device.mobile .screen {
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
}
.device .screen {
  background-color: rgba(0, 0, 0, 0.03);
  margin: auto;
  position: absolute;
  text-align: center;
}
.device.tablet {
  border-radius: 0.75em;
  border-width: 1px;
  height: 700px;
  width: 600px;
}
.device.tablet .screen {
  bottom: 30px;
  left: 30px;
  right: 30px;
  top: 30px;
}
.device.desktop {
  border-radius: 0;
  border-width: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}
.device.desktop .screen {
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px;
}
.animate-long, .device, .device .screen, .device .screen .fa-codepen {
  transition: all 0.6s ease-in-out 0s;
}
.absolute-center, .device, .device .screen .fa-codepen {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 70px;
}
.device {
  background-color: #ffffff;
  border-color: #f9fafc;
  border-style: solid;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}
#device > .screen {
  display: none;
}
#device > .screen.desktop {
  display: block;
}
.remodal #iframe {
  border: 0 none;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.screen.tablet {
  margin-top: 25px;
}
.screen.mobile {
  text-align: left;
  padding: 10px;
  overflow: scroll;
}
.screen.mobile h1.post-title , .screen.tablet h1.post-title {
  margin: 0;
  color: #008125;
  text-align: center;
  border-bottom: 1px solid #008125;
  padding-bottom: 12px;
  font-size: 18px;
  margin: 0 -10px;
  margin-bottom:15px;
}
.screen.tablet {
    text-align: left;
    padding: 10px;
    overflow: scroll;
}
.screen.tablet img.post-thumbnail {
    max-width: 100%;
    max-height: 300px;
}
.screen.tablet a , .screen.mobile a {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 30px;
  text-decoration: none;
  background: #008125;
  font-size: 16px;
  text-transform: uppercase;
	transition:all 0.5s;
}
.screen.tablet a:hover , .screen.mobile a:hover {
    letter-spacing: 3px;
}