/*

Theme Name: Jevelin Child

Description: Child theme for Jevelin theme

Author: Shufflehound

Author URI: http://shufflehound.com

Template: jevelin

*/



/* Add your custom CSS below */

.stock{
	border-top: 1px solid #dedede;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.stock .subscribe{
    position: absolute;
    top: 50%;
    right: 100px;
    background-color: #0f820d;
    border-radius: 50px;
    padding: 7px 20px;
    color: #fff;
    transform: translateY(-50%);
}
.stock .subscribe:hover{
	color: #fff !important;
}
@media (max-width:768px){
#mfesecure-ts-image{
	display:none;
}

 }
@media (max-width:600px){ 
.stock {
    text-align: center;
}
.stock .subscribe {
    position: relative;
    top: inherit;
    right: inherit;
    display: inline-block;
    margin-top: 10px;
    transform: translateY(0%);
    margin-bottom: 10px;
}
.stock iframe{
    width: 380px !important;
    margin-left: auto;
    margin-right: auto;
}
#mfesecure-ts-image{
	display:none;
}

}

.sh-footer .sign_in_class {

    float: none;

    position: relative;

    background: none;

    padding: inherit;

    border: none;

    margin: 0;

    right: 0;

    border-bottom: 1px solid rgba( 255,255,255,0.1 ) !important;

    border-top: none !important;

    border-left: none !important;

    border-right: none !important;

    padding: 7.5px 0;

}



.sh-footer .sign_in_class a{

color:#fff !important;

}



.sh-footer .sign_in_class:hover {

    background: none !important;

}



.sh-footer .sign_in_class a:hover { 

	color: #06820e !important; 

}

.steps .sh-timeline .sh-timeline-item:first-child > div {

    margin-top: 50px !important;

}



.wrap-forms {

    vertical-align: middle;

}

@media (min-width:1024px){

/*.sign_in_class{

position: absolute;

right: 55px;

top: 0;

background-color: #fff;

border-radius: 5px;

border: 1px solid #06820e !important;

}

.sign_in_class:hover{

	background-color:rgba(6, 130, 14, 0.44);

}*/
.sign_in_class a{
      padding: 4px 15px !important;
    color: #06820e !important;
    line-height: 30px !important;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #06820e !important;
    margin-top: 30px;
}
.sign_in_class a:hover{
    color: #FFF !important;
    background-color: #06820e;
}
.sh-sticky-header-active .sign_in_class a {
    margin-top: 15px;
}
}

/*.sign_in_class a{

padding: 0 !important;

color: #06820e !important;

line-height: 30px !important;



}*/


.sh-sticky-header-active .sign_in_class{

top: -10px !important;



}



.steps .sh-timeline h3 {

    margin-bottom: 18px;

}

.sh-timeline-item-container:hover h3 {

    color: #008125 !important;

}

.sh-timeline-item:last-child h3 {

    margin: 0;

}

h4.sh-heading-content.rules-point.size-default {

    padding: 20px;

    border-left: 5px solid #008125;

    background:#f2f2f2;

    font-size: 16px;

    margin: 10px 0;

}

.rules-point:hover {

  	box-shadow: 0px 0px 14px -7px #000;

}

.homepage-form p.CaptionCont.SelectBox {

    border-radius: 50px;

}

.homepage-form .open p.CaptionCont.SelectBox {

    border-radius: 25px 25px 0 0;

}

.homepage-form #contact-form-bc129a8bbcb53bb58936f85cd34c0fee .optWrapper label{

    display: block;

}

.homepage-about .sh-button-container {

    display: inline-block;

}

.animate-heading {

    font-weight: normal;

}

span.sh-heading-animated-typed {

    font-weight: bold;

}
.sh-iconbox-style3 .sh-iconbox-icon-shape {
    width: auto;
    height: auto;
    margin-bottom: auto;
}
.category-box .sh-iconbox-style3 {
    padding: 30px 15px 30px 15px;
    border: 1px solid #dcdcdc;
    transition: all 0.3s ease-in-out!important;
    min-height: 238px;
}
.category-box .sh-iconbox-style3:hover {
      transition: all 0.5s ease-in-out!important;
    box-shadow: 0 15px 25px -7px rgba(0,0,0,0.09), 0 -12px 10px -10px rgba(0,0,0,0.04);
}
.sh-accordion-style3-center .sh-accordion-item .sh-table {
    text-align: left;
}
.trading-terminologies-area .panel .panel-collapse .panel-body {
    border: 1px solid #DDD;
    border-bottom: 0;
}

.sh-pricing .sh-pricing-top .sh-table-full {
  height: 1;
  min-height: 1px;
}
.sh-pricing .sh-pricing-top .sh-table-cell {
  height: 1;
  min-height: 1px;
}
.pricing-table-area .sh-pricing-style4 {
    box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 5px 20px rgba(0,0,0,0.05);
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #DDD;
}
.pricing-table-area .sh-pricing-style4 .sh-pricing-content {
    min-height: 166px;
}
.offer-item .sh-column-wrapper {
      box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 5px 20px rgba(0,0,0,0.05);
    padding: 30px;
    border: 1px solid #DDD;
    background-color: #f9f9f9;
    cursor: pointer;
}
.terms .fw-row {

    padding: 20px;

    border-left: 4px solid #008125;

    margin-bottom: 20px !important;

    box-shadow: 0px 0px 30px -12px #000;

	transition: all 0.5s;

}

.terms .fw-row:hover {

    box-shadow: 0px 0px 18px -12px #000;

	border-left: 6px solid #008125;

}

.terms .fw-row:hover h3 {

    color: #008125 !important;

}

.border-col {

    border: 2px solid #c1c1c1;

    margin: -10px 15px;

    padding-top: 20px;

}

.single-graph .sh-single-image-container {

    overflow: hidden;

}

.single-graph .sh-single-image-container:after {

    width: 100%;

    height: 0;

    content: "";

    bottom: 0;

    display: inline-block;

    position: absolute;

    box-shadow: 0 -30px 77px 58px #008125;

    opacity: 0.3;

}

.container:hover .border-col{

    border: 2px solid #008125;

}

.container:hover .border-col h1 {

    color: #008125 !important;

}

.single-graph img.sh-image-url {

    border: 2px solid #c1c1c1;

}

.wrap-forms .field-text, .wrap-forms .field-gap, .wrap-forms .field-textarea, .wrap-forms .field-select, .wrap-forms .field-upload, .wrap-forms .field-date, .wrap-forms .field-time, .wrap-forms .field-multiple, .wrap-forms .field-rating, .wrap-forms .field-table {

    margin-bottom: 0 !important;

    width: 100%;

}

.form-builder-item .header.title {

    font-size: 18px;

    margin: 15px 0;

    font-weight: 700;

    color: #3f3f3f;

}

li.fw-flash-message {

    text-align: center;

}



.widget_recent_entries li {

  font-weight: normal;

}

.membership-plan {

	display: block;

	padding: 30px 15px;

	margin: 0px 0px 30px;

	cursor: pointer;

	border: 2px solid #e3e3e3;

	text-align: center;

        min-height: 135px;

}

.membership-plan.active {

	border: 2px solid #008125;

}

#stripe-payment-form input, #transax-payment-form input, #transax-payment-form-reactive input{

	border-radius: 25px;

}

#stripe-payment-form input[type="checkbox"], #transax-payment-form input[type="checkbox"], #transax-payment-form-reactive input[type="checkbox"] {

	margin-right: 10px;

	opacity: 0;

    position: absolute;	

}

#stripe-payment-form input[type="checkbox"], .checkbox-label, #transax-payment-form input[type="checkbox"], #transax-payment-form-reactive input[type="checkbox"] {

	display: inline-block;

    vertical-align: middle;

    cursor: pointer;

}

.checkbox-label {

	 position: relative;

}

#stripe-payment-form input[type="checkbox"] + .checkbox-label:before {

	content: '';

    background: #fff;

    border: 2px solid #ddd;

    display: inline-block;

    vertical-align: middle;

    width: 23px;

    height: 23px;

    padding: 2px;

    margin-right: 10px;

    text-align: center;

}

#stripe-payment-form input[type="checkbox"]:checked + .checkbox-label:before {

    background: #008125;

    box-shadow: inset 0px 0px 0px 2px #fff;

}



#stripe-payment-form input[type="checkbox"] {

	width: 28px;

	height: 28px;

	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

	margin: 5px auto;

	-webkit-border-radius: 50px;

	-moz-border-radius: 50px;

	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

	z-index: 9999;

}



.termsCheck{

        display: block !important;

    position: relative !important;

    opacity: 1 !important;

    float: left !important;

    height: 20px !important;

    box-shadow: none !important;

   

}



.checkRow{

    padding-left:20px;

}

.termsCheck:before , .termsCheck:after{

    display:none !important

}



#stripe-payment-form label, #transax-payment-form label, #transax-payment-form-reactive label{

	display: none;

}

#stripe-payment-form .field-checkbox label, #transax-payment-form .field-checkbox label , #transax-payment-form-reactive .field-checkbox label {

	display: inline-block;

}

.example-trade-listing article {

	margin-bottom: 80px;

}

.post-title .example-trade-title {

	font-size: 25px;
    padding: 0;
    margin-top: 0;

}

.example-trade-desc {

	

	padding: 5px 15px;

}



.read-more {

	color: #008125;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #008125;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 50px;

}
.read-more:hover {
    color: #FFF;
    background-color: #008125;
}
.payment-errors, span.error {

	color: #ff0000;

	font-size: 14px;

}

.plan-update-error,

.registeration-error.invalid {

  border: 1px solid #ff0000;

  color: #ff0000;

  font-size: 14px;

  margin-bottom: 20px;

  padding: 15px;

}

.registeration-success,

.plan-update-success {

  border: 2px solid #46b450;

  margin-bottom: 20px;

  padding: 20px;

}

form .btn-submit {

	display: block;

	margin-top: 15px;

}

.btn-submit,

#wp-submit,

.tt_form_button {

  background-color: #008125;

  border: 2px solid #008125;

  border-radius: 35px;

  color: #ffffff;

  padding: 10px 25px;

  margin: 10px auto;

  font-weight: bold;

  display: inline-block;

}
.btn-submit:hover {
	color: #FFF;
}
.example-trade-inner {

   border: 1px solid #dcdcdc;
    transition: all 0.3s ease-in-out!important;
    padding: 30px 15px 30px 15px;

    max-width: 850px;

    margin: 0 auto;
    margin-bottom: 30px;

}

.example-trade-inner:hover {

	transition: all 0.5s ease-in-out!important;
    box-shadow: 0 15px 25px -7px rgba(0,0,0,0.09), 0 -12px 10px -10px rgba(0,0,0,0.04);

}

.load-more {

	text-align: center;

}

.banner-img .sh-column {

  padding: 0;

}

#stripe-payment-form .intl-tel-input , #transax-payment-form .intl-tel-input, #transax-payment-form-reactive .intl-tel-input{

  display: block;

}

.trading-terms-header .sh-divider-icon i::after {

  background: #ffffff url("img/divider.png") no-repeat scroll 0 0;

  content: "";

  height: 25px;

  left: 0;

  position: absolute;

  top: 0;

  width: 25px;

  z-index: 9999;

}

#stripe-payment-form .membership-plan.monthly .sh-iconbox-icon i::after {

  background: #ffffff url("img/plan2.png") no-repeat scroll 0 0;

  content: "";

  height: 30px;

  left: 0;

  position: absolute;

  top: 1px;

  width: 30px;

  z-index: 9999;

}

#stripe-payment-form .membership-plan.yearly .sh-iconbox-icon i::after {

  background: #ffffff url("img/plan1.png") no-repeat scroll 0 0;

  content: "";

  height: 30px;

  left: 0;

  position: absolute;

  top: 1px;

  width: 30px;

  z-index: 9999;

}

#wrapper > .sh-page-layout-default {

    padding: 60px 0px;

    background: #f1f1f1;

}

.text-blog-pad{

padding: 0px 20px;

}

.footer-link-3 {

    text-align: center;

    background: #1f2a2c;

    color: #fff;

}

.footer-link-3 a {

    text-decoration: underline!important;

    color: #fff!important;

    font-weight: bold!important;

    margin: 0 5px;

}

.footer-link-3 a:hover {

    color: #06820e !important;

}

.sh-copyrights-style2 {

    height: 40px;

    margin-bottom: 20px;

}

.sh-footer .sh-footer-widgets {

    background-color: #1f2a2c;

    color: #e3e3e3;

    padding: 30px 0;

    padding-top: 50px;

}

::-webkit-input-placeholder {

  font-style:  normal !important;

}



:-ms-input-placeholder {

  font-style:  normal !important;

}



:-moz-placeholder {

 font-style:  normal !important;

}

::-moz-placeholder {

  font-style:  normal !important;

}




.sh-sidebar-search-active .search-field:focus{
  background-color: white !important;
} 

#billing_state{
    border-radius: 25px;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
#billing_address{
    overflow: hidden;
    
    border-radius: 15px;
    
}
.ttshowcase_rl_info_wrap.tt_info-above {
	text-align: center;
}
.ttshowcase_rl_info_wrap.tt_info-above .tt_img_left_alignment {
    display: inline-block;
}
.ttshowcase_rl_info_wrap.tt_info-above .tt_table_cell_right {
    display: block;
}
.tt_theme_speech .tt_text_left .tt_quote_info-above .ttshowcase_rl_quote:after {
        left: 50% !important;
    margin-left: -10px;
}
.tt-slider-controls span#tt-slider-prev {
    margin-left: 0 !important;
}
.custm-table{
	overflow-x: auto;
    min-height: 0.01%;}
.custm-table table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
    border-collapse: collapse;
    border-spacing: 0;
}
.custm-table table .heading-row {
    background-color: #008125;
}
.custm-table table .heading-row th {
    color: #FFF !important;
}
.col-md-12.plan_class .col-md-1 {
    display: none;
}
.custom_blog .masonry-shadow .post-content-container {
    height: 280px;
    overflow: hidden;
    position: relative;
}
.custom_blog .masonry-shadow .post-meta-two {
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
}
.custom_blog .post-container{
	background: #FFF;
}
.header-logo {
    padding: 5px 0;
}
.stock {
  display: none;;
}
.sh-sticky-header-active .header-logo img {
    height: 65px;
}
.sh-image-point i {
    transition: all 0.5s;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
.sh-testimonials .slick-slide, .sh-testimonials .slick-list, .sh-testimonials .slick-slide, .sh-testimonials .slick-track {
    height: auto !important;
}

.about-form .form-builder-item input{
    padding: 25px 30px !important;
	margin-bottom: 15px !important;
}
.about-form .wrap-forms {
    margin-bottom: 15px;
}
.custom-stock {
position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #FFFF;
    border-top: 1px solid #DDD;
    padding: 15px;
    z-index: 1000;
	box-shadow: 0 0 9px 0 rgba(0,0,0,0.2);
}
.custom-stock .subscribe {
	position: absolute;
    background-color: #06820e;
    padding: 10px 20px;
    top: 3px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    right: 20px;
}
.custom-stock .subscribe:hover {
    color: #FFF !important;
}
.sh-footer .sh-copyrights {
	margin-bottom: 50px;
}
.sh-back-to-top {
    bottom: 65px;
    right: 25px;
}
.example-trade-title {
	font-size: 20px;
    padding-top: 0;
    margin-bottom: 10px;
}
.example-trade-title a {
    color: #333;
}
.category-box.edu-box .sh-iconbox-style3 {
    min-height: 160px;
}
.masonry-shadow .post-item .post-container {
    background-color: #FFF;
}
.homepage-form .SumoSelect.open label {
display: block !important;
}
.sh-recent-posts-widgets-count{
display: none;
}
.sh-header-mobile-navigation .sh-nav-container {
    padding: 25px 0;
}
.custom-stock-mobile {
	display: none;
}
@media (max-width:768px){
	
.custom-stock-mobile {
	display: block;
}
.custom-stock-web {
	display: none;
}
.custom-stock .subscribe {
    display: none;
}
}
.sh-titlebar-light .sh-table {
    padding: 70px 0;
}
.blog-style-masonry .post-content {
    min-height: 170px;
}
.plan-selected{
border: 3px solid #0e8125 !important;
}
.paymentbutton {
  color: white;
    border: 1px solid;
    padding: 8px 18px;
    border-radius: 29px;
    font-size: 14px;
    float: right;
    cursor: pointer;
    /*display: none;*/
}
.paymentbutton:hover {
  border-color:#fff;
  background-color: #fff;
  color: #008125;
}
.plantitle {
  display: inline-block;
  vertical-align: middle;
  padding-top: 6px;
}
.payment-history {
  position: sticky;
  top: 125px;
  z-index: 999999;
}
.subscribeHistory-table {
  max-height: 300px;
  overflow-y: auto;
  min-height: 133px;
  text-align: center;
}
.subscribeHistory-table  table{
  min-width: 100%;
}
.sh-pricing-content-item span:last-child{
	display: block;
}
.sh-pricing-content-item {
	border-bottom: 1px solid transparent;
}
.sh-pricing {
	height:650px;
}
.sh-pricing-content {
	height: 280px;
}
.special-ptu .sh-pricing-content .sh-pricing-content-item:nth-child(2),
.special-ptu .sh-pricing-content .sh-pricing-content-item:nth-child(3),
.special-ptu-p-2 .sh-pricing-content .sh-pricing-content-item:nth-child(3){
	height: 78px;
    line-height: 58px;
}